a:link,
a:active,
a:visited,
a.postlink {
    color: #1E5798;
    text-decoration: none;
}
a:hover {
    color: #85A4C2;
}
#wrapper_border{
  width: 90%;
  margin: auto;
  text-align: justify;
  background: url(../img/main_border.png) 100% 0 repeat;
}
#wrapper {
    width: 98%; 
    margin: auto
}
body,
table {
    font-size: 10pt
}
.chitemsel {
    background-color: #B1CEEB;
    color: black;
    padding: 2px;
}
A:LINK,
A:ACTIVE,
A:VISITED,
A.POSTLINK {
    color: #1E5798;
    text-decoration: none;
}
A:HOVER {
    color: #85A4C2;
}
BODY,
TABLE {
    font-size: 10pt
}
.chitemsel {
    background-color: #B1CEEB;
    color: black;
    padding: 2px;
}
a:link,
a:active,
a:visited,
a.postlink {
    color: #538394;
    text-decoration: none;
}
a:hover {
    color: #71034;
}
body,
table {
    font-size: 10pt
}
.chitemsel {
    background-color: #242424;
    color: black;
    padding: 2px;
}
p,
body {
    color: #484848
}
td b {
    color: #000000
}
hr {
    background-color: #70b144;
    border: 0px solid #70b144
}
body {
    background: url(../img/mainbg.jpg);
    color: #484848;
    font-size: 12px;
    font-family: "Arial", "Helvetica", sans-serif;
}
h1 {
    margin: 0;
    font-size: 1.5em;
    padding: 0 0.8em;
    line-height: 2em;
    background: #e9e9e9;
}
h2 {
    margin: 0;
    font-size: 1.0em;
    padding: 0.5em;
    line-height: 2em;
    background: #e9e9e9;
    font-weight: bold;
    font-style: italic;
}
h3 {
    margin: 0;
    font-size: 1.2em;
    padding: 0.5em 0.85em 0;
    line-height: 2em;
    background: url(../img/main_block.png) no-repeat 100% -166px;
    min-height: 33px;
    font-weight: bold;
    color: #538394;
}
h4 {
    margin: 0;
    font-size: 1.1em;
    padding: 0em 0.85em 0;
    line-height: 1em;
    background: #e9e9e9;
    font-weight: bold;
    font-style: italic;
}
h5 {
    margin: 0;
    text-align: center;
    padding: 0.25em;
    font-size: 10px;
    font-weight: normal;
    background: #353535;
    color: white;
}
p,
ul,
ol {
    margin: 0;
    padding: 0.5em 1em;
    background: #e9e9e9;
}
center {
    background: #242424;
}
blockquote {
    background: #e9e9e9;
    margin: 0;
    padding: 1em 3em;
}
table {
    border: 0px;
    margin: 0px;
    cellspacing: 10px;
    cellmargin: 0px;
    border-collapse: separate;
    border-spacing: 2px;
    background: #4b722f;
    width: 100%;
    color: #e9e9e9;
    border-bottom: #141414 4px solid;
    border-right: #141414 4px solid;
}
table.compat {
    table-layout: fixed;
    text-align: center;
    background: #4b722f;
    color: #e9e9e9;
}
th {
    background: #141414;
}
td.param {
    width: 20%;
}
tr.alt {
    background: #33531C;
}
td.compat {
    background: #555555;
}
tr:nth-child(odd) {
    background: #33531C;
    width: 70%;
}
div.param {
    padding: 30px;
    background-color: #e9e9e9;
    border-color: ffffff;
    border-width: 4px 4px 4px 4px;
    box-shadow: 5px 5px 5px #111;
}
div.compat {
    background-color: #e9e9e9;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10px;
    border-color: ffffff;
    border-width: 4px 4px 4px 4px;
    background: #e9e9e9;
}
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* Justify page links*/

div.clear {
    clear: both;
    background: #353535;
    color: white;
    height: 1.5em;
    padding: 10px;
}
/* Lists*/

ul {
    padding: 0 1em 1em;
}
ul li {
    list-style: disc inside;
}
ol {
    list-style-type: circle;
    padding: 0 1em 1em;
    line-height: 1.5em;
}
ol.ext {
    list-style-type: none;
}
/*body > *:last-child  {  border-bottom:1em solid #1C1C1C;  }
*/

.code {
    font-family: monospace;
    background: #333;
    color: #FFF;
}
.label {
    font-family: Verdana, Helvetica, Arial, sans-serif;
}
/* Links */

a {
    text-decoration: none;
}
a:link,
a:visited {
    color: #538394;
}
a:hover,
a:active {
    color: #7BABBC;
}
#border_top {
  background: url(../img/topborder.png) repeat-x;
  height: 6px;
  overflow: hidden;
}